body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #e0f2f1;
    color: #333;
    box-sizing: border-box;
}

.left-panel {
    width: 13%;
    background: #06205D;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.left-panel nav ul {
    list-style: none;
    padding: 0;
    margin: 100px 0;
    width: 100%;
}

.left-panel nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#recipes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.recipe-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 100%;
}

.recipe-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.recipe-item:hover .overlay {
    opacity: 1;
}

.recipe-item.hovered img {
    transform: scale(1.1);
}

.recipe-item .overlay i {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;

}

.popup {
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

.close-popup {
    color: #aaa;
    position: absolute;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#recipe-form-container {
    padding: 20px;
}

#recipe-form label {
    display: block;
    margin-bottom: 5px;
}

#recipe-form input,
#recipe-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#recepies.hidden {
    display: none;
}


#ingredient-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ingredient-form label {
    display: block;
    margin-bottom: 5px;
}

#ingredient-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.ingredients-popup {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    position: relative;
    width: 220px;
    height: 220px;

}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}